*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 1rem;
}

.rijndael-animation{
    width: 100%;
    min-height: 30rem;

}